html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
  background-color: #3e2525;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 10em;
  position: relative;
  text-align: center;
}

h1 {
  color: white;
  padding: 1em;
}

#show-modal{
  text-align: center;
  background: #bc651a;
  padding: 15px 15px;
  color: white;
  font-weight: 100;
  font-size: 1.5em;
  border-radius: 3.5px;
  text-decoration: none;
  transition: all 0.15s linear;
}

#show-modal:hover{
  cursor: pointer;
  background: #bc9d1a;
}

.modal{
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 99999999;
  background: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.modal .content-modal{
  width: 100%;
  max-width: 500px;
  position: fixed;
  left: 50%;
  top: -100vh;
  transition: top 0.35s ease;
  margin-left: -250px;
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  border-radius: 2px;
  z-index: 9999999;
}

.modal h2{
  padding: 0.5em;
  text-align: center;
  color: #444444;
  margin: 0;
}

.modal article{
  height: 300px;
  background: #bc651a;
}

.close-modal{
  color: #e74c3c;
  position: absolute;
  top: 0.2em;
  right: 0.375em;
  margin: 0;
  padding: 5px;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
}

.modal a:hover{
  color: #c0392b;
}

.modal:target{
  opacity: 1;
  top: 0;
}

.modal .btn-close-modal{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999991;
}

.modal:target .content-modal{
  top: 50px;
  transition: top 0.35s ease;
}

@media (max-width: 500px){
  .modal .content-modal{
      width: 90%;
      max-width: none;
      left: 5%;
      margin-left: 0;
  }
  
}

@mixin childs{
  @for $i from 1 through 10 {
    &:nth-child(#{$i}){
      top:10*$i+px;
      left:10*$i+px;
      z-index: $i;
      &:hover{
        z-index: 9999;
      }
    }
  }
}
#orders{
  position: relative;
  ul{
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    padding: 10px 20px;
    list-style: none;
    background-color: #fefefe;
    border: 1px solid #ccc;
    li:last-child{
      color:red;
      font-weight: bold;
    }
    @include childs()
  }
}

body {
  font-family: "Anton", sans-serif;
  margin: 0px;
  color: #f3f7fa;
  background-color: #2c091a;
}
body header .header {
  background: url("../images/div1.jpg");
  background: center;
  background-size: auto;
  height: 20vh;
  display: flex;
  opacity: 0.7;
  position: absolute;
  width: 100%;
}
body header div {
  display: flex;
  /*img {
      height: 50px;
      width: 50px;
      margin-top: 35px;
      margin-left: 20px;
  }*/
}
body header h1 {
  padding-left: 25px;
  color: #f8f6f6a8;
  font-family: "Anton", sans-serif;
  font-size: 75px;
  position: relative;
  text-align: center;
  margin-top: 0px;
}

body .section2 {
  color: #c49db0;
  font-size: 16px;
  margin : 24px;
  font-family: arial;
  width: 100%;
 

}
 a.buttom1{
    margin:40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 16px; 
    font-weight: bold; 
    padding: 4px; 
    background-color: #ffffcc; 
    color: #2c091a; 
    text-decoration: none; 
 } 
 .buttom1:link, 
 .buttom1:visited { 
    border-top: 1px solid #cccccc; 
    border-bottom: 2px solid #666666; 
    border-left: 1px solid #cccccc; 
    border-right: 2px solid #666666; 
 } 
 .buttom1:hover { 
     border-bottom: 1px solid #cccccc; 
    border-top: 2px solid #666666; 
    border-right: 1px solid #cccccc; 
    border-left: 2px solid #666666; 
 }
  
body h2 {
  padding-left: 25PX;
  color: #f3f7fa;
  text-align: center;
  font-size: 30px;
  font-family: arial;
  

}
body .section2 #newSale{
  display: none;
}
body table {
  background-color: hsla(246, 28%, 45%, 0.616);
  font-family: arial;
  margin: 24px auto;
  text-align: center;
  width: 80%;
  
}
body table td {
  border-right: 1px solid #f3f7fa;
  border-left: 1px solid #f3f7fa;
  text-align: center;
  font-weight: normal;
  margin-top: 20px;
}
body table .itemTd{
  background-color: rgb(73, 26, 94);
  font-weight: bold;
  color: white;

}
body .report p {
  margin-left: 25px;
  font-weight: bold;
  font-family: arial;
  color: #f3f7fa;
}
body .report-detail {
  background-color: hsla(271, 24%, 40%, 0.616);
  width: 1200px;
  height: 200px;
  margin: auto;
  font-family: arial;
  font-size: 18px;
  text-align: center;
}
body .buttom {
  background: url("../images/div1.jpg");
  background: center;
  background-size: auto;
  height: 10vh;
  display: flex;
  opacity: 0.7;
  position: absolute;
  margin-top: 35px;
  width:100%;
   }


